@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Signika Negative", sans-serif;
}

body {
  background-color: #dfe6e9;
}

.navbar {
  background-color: rgba(1, 41, 53, 0.5);
  height: 80px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(1, 41, 53, 0.5);
}

.nav-title {
  display: flex;
  margin: auto 35%;
  padding: 20px 0;
  align-items: center;
}

.logo {
  position: relative;
  right: 70%;
}

.logo img {
  height: 50px;
}

.nav-link {
  margin-right: 60px;
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.home {
  width: 100%;
  height: 100vh;
  z-index: -100;
  background: url("./assets/images/Avatar/header_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  display: flex;
}

.header img {
  height: 89vh;
}

.home span {
  margin: auto;
  margin-bottom: 5px;
}

.scrollImg {
  max-width: 300px;
  height: 5rem;
  padding: 0 15px;
  object-fit: cover;
}

.scrollImg:last-of-type {
  padding-left: 0;
}

.inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 5rem;
}

.wrapper {
  position: absolute;
  display: flex;
}

section {
  display: flex;
  animation: swipe 15s linear infinite backwards;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.cardContainer:hover .overlay {
  opacity: 1;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.connect {
  margin-top: 8%;
}

.connect a {
  color: black;
}

.connect a:hover {
  opacity: 0.3;
  transition-duration: 0.3s;
}

.connection {
  display: block;
  margin: auto;
  width: 50%;
}

.footer {
  background-color: rgba(1, 41, 53, 0.5);
  height: 70px;
  margin-top: 12%;
  display: flex;
  align-items: center;
  padding: 0px 10%;
}

.copy {
  color: #1e375a;
  font-size: 20px;
  opacity: 0.8;
  display: block;
  margin: auto;
}

.name {
  color: #021b3d;
  text-decoration: none;
}

.name:hover {
  border-bottom: 5px solid #1e375a;
  transition-duration: 0.3s;
}

.location {
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.footer a img {
  height: 20px;
  border-radius: 100%;
}

.footer .location:hover {
  opacity: 0.5;
  transition-duration: 0.3s;
}

.footer a span {
  padding-left: 10px;
  color: #1e375a;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 34, 44);
}

::-webkit-scrollbar-thumb:hover {
  background: #3576d2;
  transition-duration: 0.3s;
}

.wrap {
  width: 82vmin;
  height: 62vmin;
  margin: 2rem auto;
  border: 8px solid;
  border-image: linear-gradient(
      -50deg,
      rgb(122, 71, 60),
      rgb(155, 93, 79),
      rgb(160, 101, 88),
      rgb(214, 115, 92)
    )
    1;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.overlayAbout {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem 0.75rem;
  background: rgb(110, 58, 46);
  transition: 0.4s ease-in-out;
  z-index: 1;
}

.overlayAbout-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15vmin;
  height: 100%;
  padding: 0.5rem 0 0 0.5rem;
  border: 3px solid;
  border-image: linear-gradient(
      to bottom,
      rgba(100, 84,58, 1) 5%,
      rgb(199, 150, 71) 35% 65%,
      rgb(88, 65, 27) 95%
    )
    0 0 0 100%;
  transition: 0.3s ease-in-out 0.2s;
  z-index: 1;
}

.image-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  background-image: url("./assets/images/Avatar/bigProfile.png");
  background-size: cover;
  transition: 0.3s ease-in-out;
}

.dots {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 55px;
  height: 4vmin;
  transition: 0.3s ease-in-out 0.3s;
}

.dot {
  width: 14px;
  height: 14px;
  background: rgb(214, 115, 92);
  border-radius: 50%;
  transition: 0.3s ease-in-out 0.3s;
}

.text {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  padding: 3vmin 4vmin;
  background: #fff;
  box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
  overflow-y: scroll;
}

.wrap:hover .overlayAbout {
  transform: translateX(-60vmin);
}

.wrap:hover .image-content {
  width: 50vmin;
}

.wrap:hover .overlayAbout-content {
  border: none;
  transition-delay: 0.2s;
  transform: translateX(60vmin);
}

.wrap:hover .dots {
  transform: translateX(1rem);
}

.wrap:hover .dots .dot {
  background: white;
}

.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}

.pop {
  animation-name: pop;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.slide {
  animation-name: slide;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-left {
  animation-name: slide-left;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {
  animation-name: slide-up;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(3em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-1 {
  animation-delay: 0.3s;
}

.delay-2 {
  animation-delay: 0.6s;
}

.delay-3 {
  animation-delay: 0.9s;
}

.delay-4 {
  animation-delay: 1.2s;
}

.delay-5 {
  animation-delay: 1.5s;
}

.delay-6 {
  animation-delay: 1.8s;
}

.delay-7 {
  animation-delay: 2.1s;
}

.delay-8 {
  animation-delay: 2.4s;
}
