@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Signika Negative", sans-serif;
}

.nav-title {
    display: flex;
    flex-direction: row;
    margin: 3% 0% auto 45%;
}

.logo-name{
    position: relative;
    right: 70%;
}

.nav-link {
    margin-right: 70px;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
}

.nav-link:hover {
    border-bottom: 4px solid #1e375a;
}

.resume {
    text-decoration: none;
    text-align: center;
    width: 90px;
    padding: 5px 0px;
    font-size: 20px;
    border: 2px solid #ffff;
    border-radius: 10px;
    background: none;
    color: #021b3d;
}

.resume:hover {
    opacity: 0.75;
}

.home {
    width: 100%;
    height: 760px;
    z-index: -100;
    background: url("./components/images/jeremy-bishop-G9i_plbfDgk-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.home span,
h1,
h2 {
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 5px;
}

.home span {
    color: #ffff;
    font-size: 20px;
}

.heading {
    position: relative;
    top: 200px;
    color: #ffff;
}

.hello {
    color: #ffff;
}

.heading h1 {
    font-size: 50px;
}

.scrollImg {
    max-width: 300px;
    height: 5rem;
    padding: 0 15px;
    object-fit: cover;
}

.scrollImg:last-of-type {
    padding-left: 0;
}

.inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 5rem;
}

.wrapper {
    position: absolute;
    display: flex;
}

section {
    display: flex;
    animation: swipe 15s linear infinite backwards;
}

@keyframes swipe {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-100%);
    }
}

.skills h1,
.connect h1 {
    font-size: 50px;
    color: #1e375a;
}

.heading h2 {
    font-size: 30px;
}

.skills {
    margin-top: 45%;
}

.flex {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.card {
    padding: 25px 0px;
    width: 12%;
    background-color: #1e375a;
    margin: 40px 20px;
    border-radius: 35px;
    box-shadow: 0 0px 10px 0px rgba(30, 55, 90, 0.5);
    color: white;
    transition: 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

.connect {
    margin-top: 8%;
}

.connect a {
    color: black;
}

.connect a:hover {
    opacity: 0.3;
    transition-duration: 0.3s;
}

.connection {
    display: block;
    margin: auto;
    width: 50%;
}

.icons {
    margin: 5% 6%;
}

.footer {
    background-color: #92bacb;
    height: 70px;
    margin-top: 12%;
    display: flex;
    align-items: center;
    padding: 0px 10%;
}

.copy {
    color: #1e375a;
    font-size: 20px;
    opacity: 0.8;
    display: block;
    margin: auto;
}

.name {
    color: #021b3d;
    text-decoration: none;
}

.name:hover {
    border-bottom: 5px solid #1e375a;
    transition-duration: 0.3s;
}

.location {
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.footer a img {
    height: 20px;
    border-radius: 100%;
}

.footer .location:hover {
    opacity: 0.5;
    transition-duration: 0.3s;
}

.footer a span {
    padding-left: 10px;
    color: #1e375a;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #1e375a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3576d2;
    transition-duration: 0.3s;
}